<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="/css/compare.css">
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
	
	<!-- NAVIGASI -->

	<nav>
		<img src="/images/logo2.png" alt="OhGadget!">
		<div class="menu">
			<a href="mockupSatu.php">Home</a>
			<a href="vas.php"><span>View All Smartphone</span></a>
			<a href="">Brands</a>
			<a href="">Top 10 Brands</a>
			<a href="">
				<i class="fas fa-bars"></i>
			</a>
		</div>
	</nav>

	<div class="comp">
		<div class="box">
			<h2>Huawei P40+</h2>
			<p>Global : 8GB - 512GB</p>
		</div>
		<div class="box">
			<h2>Huawei P40+</h2>
			<p>Global : 8GB - 512GB</p>
		</div>
		<form action="">
			<input type="text" placeholder="+ Write To Add">
			<button type="submit" name="cari">Compare</button>
		</form>
	</div>

	<div class="compare">
		<div class="score">
			<h1>Score</h1>
		</div>
		<div class="bandingan">
			<div class="bungkusan">
				<div class="hape">
					<img src="/images/hp1.jpeg" alt="" style="margin-right: 10px;">
					<div class="desc">
						<h2>Huawei P40 Pro+</h2>
						<p>Global : 8GB.512GB.NX9</p>
					</div>
				</div>
				<div class="nilai">
					<h1 style="margin-right: 10px;">8,7</h1>
					<h3>KI Price/Quality Price</h3>
				</div>
				<div class="detail">
					<p>8,6 Design & Materials</p>
					<p>8,2 Performance & Hardware</p>
					<p>10 Camera Quality</p>
					<p>8,6 Connectivity Speed</p>
					<p>6,7 Battery Quality</p>
				</div>
			</div>
			<div class="bungkusan">
				<div class="hape">
					<img src="hp1.jpeg" alt="" style="margin-right: 10px;">
					<div class="desc">
						<h2>Huawei P40 Pro+</h2>
						<p>Global : 8GB.512GB.NX9</p>
					</div>
				</div>
				<div class="nilai">
					<h1 style="margin-right: 10px;">8,7</h1>
					<h3>KI Price/Quality Price</h3>
				</div>
				<div class="detail">
					<p>8,6 Design & Materials</p>
					<p>8,2 Performance & Hardware</p>
					<p>10 Camera Quality</p>
					<p>8,6 Connectivity Speed</p>
					<p>6,7 Battery Quality</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>