<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>View All Smartphone</title>
	<link rel="stylesheet" href="/css/navbar.css">
	<link rel="stylesheet" href="/css/vas.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

	<!-- NAVIGASI -->

	<nav>
		<img src="/images/logo2.png" alt="OhGadget!">
		<div class="menu">
			<a href="mockupSatu.php">Home</a>
			<a href="vas.php"><span>View All Smartphone</span></a>
			<a href="">Brands</a>
			<a href="">Top 10 Brands</a>
			<a href="">
				<i class="fas fa-bars"></i>
			</a>
		</div>
	</nav>

	<!-- <div class="search">
		<form action="#" method="GET">
			<button type="submit" name="cari">Cari</button>
			<input type="text" placeholder="cari disini..." id="search">
		</form>
	</div> -->

	<!-- ISINYA -->

	<div class="content">
		<div class="filter">
			<div class="fil">
				<h2>Filter</h2>
				<img src="/images/filter.png" alt="">
			</div>

			<form action="">
				<select id="pilih" name="pilih">
				    <option value="volvo">Kamera</option>
				    <option value="saab">RAM</option>
				    <option value="fiat">Processor</option>
				    <option value="audi">Baterai</option>
				    <option value="audi">Desain</option>
				</select>
			</form>
			
			<div class="price">
				<h2>Price</h2>
				<img src="price.png" alt="">
			</div>

			<form action="">
				<select id="pilih" name="pilih">
				    <option value="volvo">Rp 0 - Rp 3.000.000</option>
				    <option value="saab">Rp 3.000.000 - Rp 6.000.000</option>
				    <option value="fiat">Rp 6.000.000 - Rp 9.000.000</option>
				    <option value="audi">> Rp 9.000.000</option>
				</select>
			</form>

			<div class="prtscrs">
				<h1>Partial Scores</h1>
				<div class="desain">
					<p>Design</p>
					<div class="score">
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
					</div>
				</div>
				<div class="desain">
					<p>Camera</p>
					<div class="score">
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
					</div>
				</div>
				<div class="desain">
					<p>Battery</p>
					<div class="score">
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
					</div>
				</div>
				<div class="desain">
					<p>Hardware</p>
					<div class="score">
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
						<div class="warna"></div>
					</div>
				</div>
			</div>
			<a href="compare.php" class="comparison">
				<h2>Comparison</h2>
			</a>
		</div>
		<div class="isi">
			<div class="box">
				<img src="p40.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Huawei P40+</h3>
					<p style="margin-bottom: 6px;">Global : 8GB - 512GB</p>
					<p style="margin-bottom: 6px;">1 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Xiaomi Mi 11 Pro</h3>
					<p style="margin-bottom: 6px;">Global : 6GB - 512GB</p>
					<p style="margin-bottom: 6px;">7 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Realmi GT 5G</h3>
					<p style="margin-bottom: 6px;">Global : 12GB - 512GB</p>
					<p style="margin-bottom: 6px;"> 8 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp1.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Poco F3</h3>
					<p style="margin-bottom: 6px;">Global : 6GB - 128GB</p>
					<p style="margin-bottom: 6px;">7 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Samsung Galaxy</h3>
					<p style="margin-bottom: 6px;">Global : 6GB - 128GB</p>
					<p style="margin-bottom: 6px;">1 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Asus ROG Phone 3</h3>
					<p style="margin-bottom: 6px;">Global : 12GB - 256GB</p>
					<p style="margin-bottom: 6px;">1 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/p40.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oneplus 8 Pro</h3>
					<p style="margin-bottom: 6px;">Global : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;">1 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/p40.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Vivo iQOO 7</h3>
					<p style="margin-bottom: 6px;">Global : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;">9 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Realme X50 Pro</h3>
					<p style="margin-bottom: 6px;">Global : 8GB - 256GB</p>
					<p style="margin-bottom: 6px;">9 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oneplus 8T</h3>
					<p style="margin-bottom: 6px;">Global : 12GB - 256GB</p>
					<p style="margin-bottom: 6px;">1 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp1.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo Find X2 Pro</h3>
					<p style="margin-bottom: 6px;">Global : 12GB - 512GB</p>
					<p style="margin-bottom: 6px;">10 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Vivo X60</h3>
					<p style="margin-bottom: 6px;">China : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;"> 10 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo A57</h3>
					<p style="margin-bottom: 6px;">Global : 2GB - 128GB</p>
					<p style="margin-bottom: 6px;">2 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Vivo X60</h3>
					<p style="margin-bottom: 6px;">China : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;"> 10 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo A57</h3>
					<p style="margin-bottom: 6px;">Global : 2GB - 128GB</p>
					<p style="margin-bottom: 6px;">2 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Vivo X60</h3>
					<p style="margin-bottom: 6px;">China : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;"> 10 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo A57</h3>
					<p style="margin-bottom: 6px;">Global : 2GB - 128GB</p>
					<p style="margin-bottom: 6px;">2 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp2.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Vivo X60</h3>
					<p style="margin-bottom: 6px;">China : 8GB - 128GB</p>
					<p style="margin-bottom: 6px;"> 10 Mounths Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo A57</h3>
					<p style="margin-bottom: 6px;">Global : 2GB - 128GB</p>
					<p style="margin-bottom: 6px;">2 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
			<div class="box">
				<img src="/images/hp3.jpeg" alt="samsung">
				<div class="desc">
					<h3 style="margin-bottom: 10px;">Oppo A57</h3>
					<p style="margin-bottom: 6px;">Global : 2GB - 128GB</p>
					<p style="margin-bottom: 6px;">2 Years Ago</p>
					<p>Compare ++</p>
				</div>
			</div>
		</div>
	</div>

</body>
</html>